# Anything other than Assets/
.vscode/
Builds/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
*.sln
*.csproj

# Things to exclude in Assets/
Assets/Scenes/*.unity
Assets/TextMesh\ Pro/

# Temporary
Assets/Scripts/StreamingAssetLoader.cs
Assets/Scripts/StreamingAssetLoader.cs.meta
